.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.drum-pad {
  width: 100%;
  height: 5rem;
}
.pad {
  padding-top: 2px;
  padding-bottom: 2px;
}
#display {
  min-height: 5rem;
  background-color: rgb(48, 136, 85);
}
.card {
  max-width: 600px;
  background-color: rgb(48, 46, 46) !important;
}
.form-check-input:checked {
  background-color: orange !important;
  border-color: orange !important;
}
.padCol {
  margin: auto !important;
}
.pFont {
  color: white;
  font-size: calc(2px + 2vmin);
}
.padRow {
  padding-left: 25px;
}
.range-slider__tooltip__label {
  color: white
}